Source: argo
Section: kernel
Priority: optional
Maintainer: Xen
Build-Depends: dkms
Standards-Version: 1.0.0

Package: argo-dkms
Architecture: all
Depends: dkms
Description: Argo Hypervisor-Mediated data eXchange
 Argo module
