/libv4v/Makefile
/libv4v/Makefile.in
/libv4v/src/Makefile
/libv4v/src/Makefile.in
/libv4v/app/Makefile
/libv4v/app/Makefile.in
/libv4v/test/Makefile
/libv4v/test/Makefile.in

/libv4v/autom4te.cache
/libv4v/aclocal.m4
/libv4v/m4
/libv4v/aclocal-copy
/libv4v/compile
/libv4v/configure
/libv4v/depcomp
/libv4v/install-sh
/libv4v/missing
/libv4v/ltmain.sh
/libv4v/src/stamp-h1
/libv4v/src/version-num

/libv4v/config.guess
/libv4v/config.log
/libv4v/config.status
/libv4v/config.sub
/libv4v/version.sed
/libv4v/src/config.h
/libv4v/src/config.h.in
/libv4v/src/version.h
/libv4v/src/libv4v.h
/libv4v/src/v4v-head.h

i586-oe-linux-libtool

/libv4v/libv4v-config
/libv4v/libv4v-config.src
/libv4v/libv4v.pc
/libv4v/libv4v.pc.src
/libv4v/src/stamp-h1

*.o
*.lo
*.la
.libs

/libv4v/app/ttcp-v4v
/libv4v/app/v4v-proxy
/libv4v/app/viptables
/libv4v/test/test
/libv4v/ar-lib
