Source: libv4v
Section: misc
Priority: optional
Maintainer: OpenXT Community <openxt@googlegroups.com>
Build-Depends: autoconf (>=2.13),
               automake,
               libtool,
               debhelper (>=9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/OpenXT/v4v.git
Vcs-Browser: https://github.com/OpenXT/v4v

Package: libv4v
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: V4V library, interposer and utilities to use OpenXT V4V protocol.
